*.apk
/build
build/
/captures
captures/
.cxx
.cxx/
deploymentTargetDropDown.xml
.DS_Store
.externalNativeBuild
.externalNativeBuild/
google-services.json
.gradle
.gradle/
*.hprof
.idea/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
*.iml
*.jks
*.keystore
/local.properties
local.properties
*.log
misc.xml
output.json
render.experimental.xml
